@import "partials/common";

@font-face {
    src: url(../fonts/digital-7/digital-7.ttf);
    font-family: digital7;
}

body {
    @media screen and (orientation:portrait) {
        width: auto;
        padding: 10px;
    }

    #contador {
        width: 60%;
        margin: auto;

        @media screen and (orientation:portrait) {
            width: auto;
            padding: 10px;
        }
        
        #numero {
            background-color: black;
            font-family: digital7;
            display: flex;
            justify-content: center;
            font-size: 84px;
            margin: 10%;
        }

        #botonera {
            display: flex;
            justify-content: space-around;
        }
    }
}

