@import "partials/common";

.tarjeta {
    width: 60%;
    margin: auto;
    margin-bottom: 16px;
    border-radius: 8px;
    padding: 5px;
    border: 1px solid $grisClaro;
    box-shadow: 6px 6px 3px $gris;
    
    &:hover {
        border: 1px solid $gris;
        box-shadow: 6px 6px 3px $grisOscuro;
        transform: translate(-2%, -2%);
    }
    
    a {
        text-decoration: none;
        color: $colorNegro;

        p {
            font-size: 14px;
        }
    }
    .enlaceTarjeta {
        font-size: 14px;

        a {
            text-decoration: none;
            color: $azul;
        }
    }
}

@media (orientation: portrait) {
    #app {
        padding-left: 2%;
        padding-right: 3%;
        box-sizing: border-box;

        .tarjeta {
            width: auto;
        }
    }
}
