@import "partials/common";

#contInfo {
    height: 6vh;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    #colorActual {
        width: 30%;
        border-radius: 8px;
        background-color: $azul;
        padding: 5px;
        font-weight: bold;
    }

    #btnCambiar {
        background-color: $azul;
        color: $colorNegro;
        border-radius: 8px;
        padding: 5px;
        display: flex;
        align-items: center;
        cursor: default;

        &:hover {
            transform: translate(-2%, -2%);
        }

        &:active {
            transform: translate(2%, 2%);
        }
    }
}

@media (orientation: portrait) {


    #contInfo {    
        display: flex;
        justify-content: space-between;
        align-items: center;

        #colorActual {
            width: 40%;
            font-weight: bold;
        }
    }
}

