@import "partials/common";

#top_nav {
    width: $altoIcono;
    margin-top: auto;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;

    #menu_hamb {
        height: $altoIcono;
    }
}

#sidebar {
    width: 18vw;
    height: 40vh;
    background-color: $blanco;
    padding: 10px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;

    @media (min-width: 481px) and (max-width: 1024px) {
        width: 60%;
        height: 60vh;
    }

    @media (max-width: 480px) {
        width: 100%;
        height: 60vh;
    }

    #titulo {
        display: flex;
        justify-content: space-between;

        h2 {
            margin-top: 0px;
        }
    }

    #links {
        padding-left: 0px;

        li {
            list-style-type: none;
            font-size: 22px;
    
            a {
                text-decoration: none;
                color: $grisOscuro;
    
                &:hover {
                    font-weight: bold;
                }
    
            }
        }   
    }

    #redes {
        padding-left: 0px;
        margin-top: auto;
        display: flex;
        align-content: center;
        justify-content: space-around;

        li {
            list-style-type: none;
            
            img {
                height: $altoIcono * 0.6;

                &:hover {
                    transform: scale(1.3, 1.3);
                }
            }
        }

    }

    #cerrar {
        height: $altoIcono * 0.6;
    }
}

// Animaciones
// Menú
.inicial {
    margin-left: -35%;
}

.mostrar {
    margin-left: -10px;
    animation-name: mostrar;
    animation-duration: 350ms;

}

.ocultar {
    margin-left: -35%;
    animation-name: ocultar;
    animation-duration: 350ms;

}

@keyframes mostrar {
    from {
        margin-left: -35%;
    }
    to {
        margin-left: -10px;
    }
}

@keyframes ocultar {
    from {
        margin-left: -10px;
    }
    to {
        margin-left: -35%;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .inicial {
        margin-left: -70%;
    }

    .mostrar {
        margin-left: -5px;
    }

    .ocultar {
        margin-left: -110vw;
    }

    @keyframes mostrar {
        from {
            margin-left: -70%;
        }
        to {
            margin-left: -5px;
        }
    }
    
    @keyframes ocultar {
        from {
            margin-left: -5px;
        }
        to {
            margin-left: -70%;
        }
    }
}

@media (max-width: 480px) {
    .inicial {
        margin-left: -110vw;
    }

    .mostrar {
        margin-left: -5px;
    }

    .ocultar {
        margin-left: -110vw;
    }

    @keyframes mostrar {
        from {
            margin-left: -110vw;
        }
        to {
            margin-left: -5px;
        }
    }
    
    @keyframes ocultar {
        from {
            margin-left: -5px;
        }
        to {
            margin-left: -110vw;
        }
    }
}

// Hamburguesa
.vertical {
    transform: rotate(-90deg);
}

