@import "partials/common";

//prov============


/*#navegacion {
    border: 1px solid blue;
}*/
//==============

#encabezado {
    display: grid;
    grid-template-columns: 33% repeat(3);
    
    #home {
        height: 4vh;
        width: 4vh;
        margin-top: 10px;
        grid-column: 1 / 2;
    }

    h1 {
        grid-column: 2 / 3;
    }
}

#contReviews {
    background-color: $blancoBody;
    width: 60%;
    margin: auto;
    border-radius: 8px;
    box-shadow: 6px 6px 3px $grisClaro;
    .review {
    
        display: grid;
        grid-template-rows: 8.33% repeat(12);
    
        .foto {
            grid-row: 1 / span 6;
            margin: auto;
            width: 25%;
            background-color: $azul;
            border-radius: 50%;
    
            .cara {
                transform: translate(-5px, 5px);
                width: 100%;
                
                img {
                    width: 100%;
                    border-radius: 50%;
                }
            }
        }
    
        .nombre {
            grid-row: 7 / span 3;
            margin: auto;
            font-weight: bold;
            text-align: center;
    
            .prof {
                text-transform: uppercase;
                color: $azul;
                text-align: center;
                font-weight: normal;
            }
        }
    
        .texto {
            grid-row: 10 / span 3;
            color: $grisOscuro;
            font-size: 14px;
            padding: 5px;
        }
    
    }

    .navegacion {
        margin: auto;
        width: 30%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;

        .btnPrevious {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
        
        .btnNext {
            grid-column: 2 / 3;
            grid-row: 1 / 2; 
        }

        .btnRandom {
            grid-column: 1 / span 2;
            grid-row: 2 / 3;
            align-self: center;
            justify-self: center;
        }

        img {
            height: 80%;
            justify-self: center;
            align-self: center;

            &:hover {
                transform: translate(-2%, -2%);
            }
        
            &:active {
                transform: translate(2%, 2%);
            }
        }
    }
}


.oculto {
    visibility: hidden;
    height: 0vh;
}

