@import "partials/common";

@font-face {
    src: url(../fonts/digital-7/digital-7.ttf);
    font-family: digital7;
}

#contador {
    width: 60%;
    margin: auto;

    @media (max-width: 1024px) {
        width: auto;
        padding: 10px;
        box-sizing: border-box;
    }
    
    #numero {
        height: 40%;
        background-color: black;
        font-family: digital7;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 84px;
        margin: 10%;
    }

    #botonera {
        display: flex;
        justify-content: space-around;
    }
}


