@import "partials/common";

//prov============
#contenedor {
    border: 1px solid black;
}
.swiper-slide {
    border: 1px solid red;
}
#navegacion {
    border: 1px solid blue;
}
//==============


.swiper-container {
    width: 600px;
    height: 300px;
}

