@import "partials/common";

main {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 50% 50%;
    justify-content: center;

    #numero {
        grid-column: 1 / span 5;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: center;
        font-family: digital-7;
        font-size: 96px;
    }

    #botonera {
        grid-column: 2 / span 3;

        @media (max-width: 1024px) {
            grid-column: 1 / span 5;
        }
        
        grid-row: 2 / 3;
        height: 15%;
        display: flex;
        justify-content: space-between;
    }
}