@font-face {
  src: url("../fonts/digital-7/digital-7.ttf");
  font-family: digital-7;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

.botonNormal {
  background-color: DeepSkyBlue;
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
  border-radius: 8px;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.botonNormal:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transform: translate(-3%, -3%);
          transform: translate(-3%, -3%);
}

.botonNormal:active {
  -webkit-transform: translate(3%, 3%);
          transform: translate(3%, 3%);
}

.botonHueco {
  border: 2px solid DeepSkyBlue;
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
  border-radius: 8px;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.botonHueco:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transform: translate(-3%, -3%);
          transform: translate(-3%, -3%);
}

.botonHueco:active {
  -webkit-transform: translate(3%, 3%);
          transform: translate(3%, 3%);
}

body {
  background-color: WhiteSmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (8.33vh)[12];
      grid-template-rows: repeat(12, 8.33vh);
  justify-items: center;
}

body h1, body h2, body h3 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body header, body main, body footer {
  width: 70%;
  padding: 10px;
}

body header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (12.5%)[8];
      grid-template-columns: repeat(8, 12.5%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header a {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

body header a #home {
  height: 4vh;
  width: 100%;
}

body header a #home:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

body header a #home:hover #relleno {
  fill: DeepSkyBlue;
}

body header h1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 7;
  grid-column: 2 / span 7;
}

body main {
  -ms-grid-row: 3;
  -ms-grid-row-span: 7;
  grid-row: 3 / span 7;
  overflow-y: scroll;
  background-color: #DAEDFF;
}

body footer {
  -ms-grid-row: 10;
  -ms-grid-row-span: 3;
  grid-row: 10 / span 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body footer .titulo {
  font-weight: bold;
}

body footer .contacto {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body footer img {
  height: 2.4vh;
  padding: 5px;
}

body footer img:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

@media (max-width: 1024px) {
  body h1 {
    font-size: 22px;
  }
  body h2 {
    font-size: 20px;
  }
  body h3 {
    font-size: 18px;
  }
  body header, body main, body footer {
    width: 100%;
    padding: 5px;
  }
  body header {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
  }
  body main {
    -ms-grid-row: 2;
    -ms-grid-row-span: 9;
    grid-row: 2 / span 9;
  }
  body footer {
    -ms-grid-row: 11;
    -ms-grid-row-span: 2;
    grid-row: 11 / span 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body footer .contacto {
    padding-left: 0px;
  }
}

header h1 {
  -ms-grid-column: 1 !important;
  -ms-grid-column-span: 8 !important;
  grid-column: 1 / 9 !important;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .tarjeta {
  background-color: WhiteSmoke;
  margin: 10px;
  width: 70%;
  padding: 10px;
  -webkit-box-shadow: 6px 6px 2px Darkgray;
          box-shadow: 6px 6px 2px Darkgray;
}

@media (max-width: 1024px) {
  main .tarjeta {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

main .tarjeta:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transform: translate(-2%, -2%);
          transform: translate(-2%, -2%);
}

main .tarjeta:active {
  -webkit-transform: translate(2%, 2%);
          transform: translate(2%, 2%);
}

main .tarjeta a {
  color: black;
  text-decoration: none;
}

main .tarjeta .enlaceTarjeta a {
  color: DeepSkyBlue;
}

main .tarjeta .enlaceTarjeta a:hover {
  color: black;
  background-color: DeepSkyBlue;
  border-radius: 3px;
  padding: 3px;
}
/*# sourceMappingURL=estilos_principal.css.map */