body {
  background-color: WhiteSmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body main {
  background-color: #DAEDFF;
  width: 50%;
  margin: auto;
  padding-bottom: 5px;
}

h1, h2, h3 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

.botonNormal {
  background-color: DodgerBlue;
  color: black;
  border-radius: 8px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
}

.botonNormal:hover {
  -webkit-transform: translate(-2%, -2%);
          transform: translate(-2%, -2%);
}

.botonNormal:active {
  -webkit-transform: translate(2%, 2%);
          transform: translate(2%, 2%);
}

#home {
  height: 4vh;
  width: 4vh;
  margin-top: 10px;
}

#home:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

#home:hover #relleno {
  fill: DodgerBlue;
}

@media (max-width: 1024px) {
  body {
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body footer {
    justify-self: flex-end;
  }
}

/*#navegacion {
    border: 1px solid blue;
}*/
#encabezado {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% ()[3];
      grid-template-columns: 33% repeat(3);
}

#encabezado #home {
  height: 4vh;
  width: 4vh;
  margin-top: 10px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

#encabezado h1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.review {
  background-color: WhiteSmoke;
  width: 60%;
  margin: auto;
  border-radius: 8px;
  -webkit-box-shadow: 6px 6px 3px LightGray;
          box-shadow: 6px 6px 3px LightGray;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 8.33% ()[12];
      grid-template-rows: 8.33% repeat(12);
}

.review .foto {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1 / span 5;
  margin: auto;
  width: 25%;
  background-color: DodgerBlue;
  border-radius: 50%;
}

.review .foto .cara {
  -webkit-transform: translate(-5px, 5px);
          transform: translate(-5px, 5px);
  width: 100%;
}

.review .foto .cara img {
  width: 100%;
  border-radius: 50%;
}

.review .nombre {
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / span 2;
  margin: auto;
  font-weight: bold;
  text-align: center;
}

.review .nombre .prof {
  text-transform: uppercase;
  color: DodgerBlue;
  text-align: center;
  font-weight: normal;
}

.review .texto {
  -ms-grid-row: 8;
  -ms-grid-row-span: 3;
  grid-row: 8 / span 3;
  color: DimGray;
  font-size: 14px;
  padding: 5px;
}

.review .navegacion {
  -ms-grid-row: 11;
  -ms-grid-row-span: 2;
  grid-row: 11 / span 2;
  margin: auto;
  width: 20%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

.review .navegacion .btnPrevious {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.review .navegacion .btnNext {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.review .navegacion .random {
  grid-column: 1 / span2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.review .navegacion img {
  height: 80%;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.review .navegacion img:hover {
  -webkit-transform: translate(-2%, -2%);
          transform: translate(-2%, -2%);
}

.review .navegacion img:active {
  -webkit-transform: translate(2%, 2%);
          transform: translate(2%, 2%);
}

.oculto {
  visibility: hidden;
  height: 0vh;
}
/*# sourceMappingURL=estilos3.css.map */