$colorNegro: black;
$grisClaro: LightGray;
$gris: Darkgray;
$grisOscuro: DimGray;
$azul: DodgerBlue;

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 50%;
    margin: auto;
}

h1, h2, h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

.botonNormal {
    background-color: $azul;
    color: $colorNegro;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: default;

    &:hover {
        transform: translate(-2%, -2%);
    }

    &:active {
        transform: translate(2%, 2%);
    }
}

#home {
    height: 4vh;
    width: 4vh;
    margin-top: 10px;

    &:hover {
        transform: scale(1.2, 1.2);

        #relleno {
            fill: $azul;
        }
    }
}


@media (max-width: 1024px) {
    body {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;

        footer {
            justify-self: flex-end;
        }
    }
}
